<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="club_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>UniqueID</th>
                    <th>Fullname</th>
                </tr>
                </thead>
                <!--
                <tbody>
                <tr data-ng-repeat="user in users.data track by $index">
                    <td>{{ user.getFirstname }}</td>
                    <td>{{ user.getLastname }}</td>
                    <td>{{ user.getCA }}</td>
                    <td>{{ user.getPA }}</td>
                    <td>{{ user.getClubUniqueID }}</td>
                    <td>{{ user.getValue }}</td>
                    <td class="users controls blank-cell">
                        <a class="btn pointer" data-ng-click="showEditUser( $index )">Edit</a>
                    </td>
                </tr>
                </tbody>
                -->

            </table>
        </div>
    </div>
</div>