<div class="container-fluid fixed-size">
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-information-list" data-toggle="list" data-target="#list-information" role="tab" aria-controls="information">Information</a>
                <a class="list-group-item list-group-item-action" id="list-contract-list" data-toggle="list"
                        data-target="#list-contract" role="tab" aria-controls="contract">Finance</a>
            </div>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="tab-content" id="nav-tabContent">
                <!-- Start information -->
                <div class="tab-pane fade show active" id="list-information" role="tabpanel" aria-labelledby="list-information-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <!-- s Information -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Overview</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="getRowId" class="col-sm-6 col-form-label">RowId</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control-plaintext" id="getRowId"
                                                                ng-model=" myClub.information.getRowId">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getUniqeId" class="col-sm-6 col-form-label">Unique ID</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control-plaintext" id="getUniqeId" ng-model=" myClub.information.getUniqeId">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getFullname" class="col-sm-6 col-form-label">Fullname </label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control-plaintext" id="getFullname"
                                                                ng-model=" myClub.information.getFullname">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getNickname" class="col-sm-6 col-form-label">Nickname </label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control-plaintext" id="getNickname" ng-model=" myClub.information.getNickname">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getTeamType" class="col-sm-6 col-form-label">Team
                                                        Type </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getTeamType" ng-model=" myClub.information.getTeamType">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getReputation" class="col-sm-6 col-form-label">Reputation </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getReputation" ng-model=" myClub.information.getReputation">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getNation" class="col-sm-6 col-form-label">Nation </label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control-plaintext" id="getNation" ng-model=" myClub.information.getNation">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getOwnershipType"
                                                            class="col-sm-6 col-form-label">Ownership Type </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getOwnershipType" ng-model=" myClub.information.getOwnershipType">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getChairmanTitle"
                                                            class="col-sm-6 col-form-label">Chairman Title </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getChairmanTitle" ng-model=" myClub.information.getChairmanTitle">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getChairmanStatus"
                                                            class="col-sm-6 col-form-label">Chairman Status </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getChairmanStatus" ng-model=" myClub.information.getChairmanStatus">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getTrainingFacilities"
                                                            class="col-sm-6 col-form-label">Training Facilities </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getTrainingFacilities" ng-model=" myClub.information.getTrainingFacilities">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getYouthFacilities"
                                                            class="col-sm-6 col-form-label">Youth Facilities </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getYouthFacilities" ng-model=" myClub.information.getYouthFacilities">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getYouthImportance"
                                                            class="col-sm-6 col-form-label">Youth Importance </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getYouthImportance" ng-model=" myClub.information.getYouthImportance">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getYouthRecruitment"
                                                            class="col-sm-6 col-form-label">Youth Recruitment </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getYouthRecruitment" ng-model=" myClub.information.getYouthRecruitment">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getJuniorCoaching"
                                                            class="col-sm-6 col-form-label">Junior Coaching </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getJuniorCoaching" ng-model=" myClub.information.getJuniorCoaching">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getCorporateFacilities"
                                                            class="col-sm-6 col-form-label">Corporate Facilities
                                                    </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getCorporateFacilities"
                                                                ng-model=" myClub.information.getCorporateFacilities">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getMorale" class="col-sm-6 col-form-label">Morale </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" max="20" class="form-control-plaintext"
                                                                id="getMorale" ng-model=" myClub.information.getMorale">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getAverageAttendance"
                                                            class="col-sm-6 col-form-label">Average Attendance
                                                    </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control-plaintext" id="getAverageAttendance" ng-model=" myClub.information.getAverageAttendance">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getMinimumAttendance"
                                                            class="col-sm-6 col-form-label">Minimum Attendance </label>
                                                    <div class="col-sm-6">
                                                        <input type="number"  class="form-control-plaintext"
                                                                id="getMinimumAttendance" ng-model=" myClub.information.getMinimumAttendance">
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- s Information -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <!-- s  -->
                                <div class="col-md-12"></div>
                                <!-- e  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End information -->
                <!-- Start Finance -->
                <div class="tab-pane fade" id="list-contract" role="tabpanel" aria-labelledby="list-contract-list">
                    Finance
                </div>
                <!-- End Finance -->
            </div>
        </div>
    </div>
</div>