<div class="container-fluid fixed-size">
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-information-list" data-toggle="list" data-target="#list-information" role="tab" aria-controls="information">Information</a>
                <a class="list-group-item list-group-item-action" id="list-contract-list" data-toggle="list" data-target="#list-contract" role="tab" aria-controls="contract">Contract</a>
            </div>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="tab-content" id="nav-tabContent">
                <!-- Start information -->
                <div class="tab-pane fade show active" id="list-information" role="tabpanel" aria-labelledby="list-information-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="row">
                                <!-- s Information -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Information</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="firstName" class="col-sm-6 col-form-label">First Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="text-right form-control-plaintext" id="firstName" value="firstName">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="lastName" class="col-sm-6 col-form-label">Last Name</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="text-right form-control-plaintext" id="lastName" value="last">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="uniqueID" class="col-sm-6 col-form-label">Unique ID </label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="text-right form-control-plaintext" id="uniqueID" value="1233577">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- s Information -->
                                <!-- s Ability -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Ability</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="ca" class="col-sm-7 col-form-label">CA</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="ca" value="200">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="pa" class="col-sm-7 col-form-label">PA</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="pa" value="200">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="difference" class="col-sm-7 col-form-label">Difference</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="difference" value="0">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- e Ability -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="row">
                                <!-- s characteristic -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Characteristic</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="handsOnApproach" class="col-sm-7 col-form-label">Hands On Approach</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="handsOnApproach" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getTacticalConsistency" class="col-sm-7 col-form-label">Tactical Consistency</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="getTacticalConsistency" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getClubPlayerLoyalty" class="col-sm-7 col-form-label">Club/Player Loyalty </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="getClubPlayerLoyalty" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getSquadDiscipline" class="col-sm-7 col-form-label">Squad Discipline</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="getSquadDiscipline" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getFinancialControl" class="col-sm-7 col-form-label">Financial Control</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="getFinancialControl" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="getMediaHandling" class="col-sm-7 col-form-label">Media Handling</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="getMediaHandling" value="47">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- e characteristic -->
                                <!-- s coaching -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Coaching</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="attacking" class="col-sm-7 col-form-label">Attacking</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="attacking" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="defending" class="col-sm-7 col-form-label">Defending </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="defending" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="fitness" class="col-sm-7 col-form-label">Fitness</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="fitness" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="GkShotStopping" class="col-sm-7 col-form-label">Gk Shot Stopping </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="GkShotStopping" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Mental" class="col-sm-7 col-form-label"> Mental</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="Mental" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Player" class="col-sm-7 col-form-label">Player </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="Player" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Tactical" class="col-sm-7 col-form-label">Tactical </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="Tactical" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Technical" class="col-sm-7 col-form-label">Technical </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="Technical" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="ManManagement" class="col-sm-7 col-form-label">Man Management </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="ManManagement" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="WorkingWithYoungters" class="col-sm-7 col-form-label">Working With Youngters </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="WorkingWithYoungters" value="20">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- e coaching -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="row">
                                <!-- s Option -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Option</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="BecomeUnsackable" class="col-sm-7 col-form-label">Become Unsackable</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="BecomeUnsackable" value="50">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="SquadRegistrationOptions" class="col-sm-7 col-form-label">SquadRegistrationOptions</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="SquadRegistrationOptions" value="50">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- e Option -->
                                <!-- s Gamer Mental Attribues -->
                                <div class="col-md-12">
                                    <div class="card border-secondary mb-3">
                                        <div class="card-header">Gamer Mental Attribues</div>
                                        <div class="card-body text-secondary">
                                            <form>
                                                <div class="form-group row">
                                                    <label for="adaptability" class="col-sm-7 col-form-label">Adaptability </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="adaptability" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="determination" class="col-sm-7 col-form-label">Determination </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="determination" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="PlayerKnowledge" class="col-sm-7 col-form-label">Player Knowledge</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="PlayerKnowledge" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="YoungterKnowledge" class="col-sm-7 col-form-label">Youngter Knowledge </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="YoungterKnowledge" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="LevelOfDisipline" class="col-sm-7 col-form-label">Level Of Disipline</label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="LevelOfDisipline" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="ManManagement1" class="col-sm-7 col-form-label">Man Management </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="ManManagement1" value="20">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="Motivating" class="col-sm-7 col-form-label">Motivating </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="text-right form-control-plaintext" id="Motivating" value="20">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- e Gamer Mental Attribues -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End information -->
                <!-- Start contract -->
                <div class="tab-pane fade" id="list-contract" role="tabpanel" aria-labelledby="list-contract-list">
                    contract
                </div>
                <!-- End contract -->
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">settings</div>
            </div>
        </div>
    </div>
</div>